@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

html {
	--bg: #FCFCFC;
	--bg-panel: #EBEBEB;
	--color-headings: #0077FF;
	--color-title: "#121212",
	--color-text: #333333;
	--image: url(../img/capa-madmax2.jpg);
}

html, body {
	height: 100%;
}

body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: "Montserrat", sans-serif;
	font-size: 10px;
	background: var(--bg);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	cursor: pointer;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	position: relative;
}

/* 			HEADER			 */

header.header {
	background-attachment: fixed;
	background-image: url(../img/capa-madmax2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: initial;

	height: 90vh;
	width: 100%;

	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
}

.header::after {
	content: '';
	height: 100%;
	width: 100%;

	background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );

	position: absolute;
	top: 0;
	left: 0;
}

div.nav-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	z-index: 2;
	height: 90px;
}

div.nav-container ul.header-links {
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

a.link {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.hover-color:hover {
	color: #e4bb23 !important;
}

div.nav-container div.header-user {
	display: flex;
	align-items: center;
}

div.nav-container div.header-user .toggle {
	margin-right: 10px;
}

div.nav-container div.header-user input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

div.nav-container div.header-user label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

div.nav-container div.header-user label::after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 90px;
	transition: 0.3s;
}

div.nav-container div.header-user input:checked + label {
	background-color: var(--color-headings);
}

div.nav-container div.header-user input:checked + label::after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

div.nav-container div.header-user label:active:after {
	width: 45px;
}

div.nav-container div.header-user img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

div.nav-container div.header-user span {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 15px;
}

/* 			HEADER CONTENT			 */

div.header-content .container {
	position: relative;
	z-index: 2;
	text-align: center;
}

div.header-content h1.title {
	color: #fff;

	margin: 0;

	font-size: 4em;
	line-height: 1.2em;
	text-transform: uppercase;
}

div.header-content .container .header-genre {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 15px 0 30px;
	font-size: 1.3em;
}

div.header-content .container .header-genre a {
	color: #fff;

	margin-right: 15px;

	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

div.header-content .container button.trailer {
	padding: 15px 50px;
	
	background: #e4bb23;
	
	font-size: 1.5em;
	border: 0;
	border-radius: 25px;
	
	position: relative;
}
	
div.header-content .container button.trailer:hover {
	background: #bc9a1d;
}
				
div.header-content .container button.trailer i {
	font-size: 1.5em;

	position: absolute;
	top: 13px;
	right: 16px;
}

div.header-content .container .info {
	color: #fff;
	font-size: 1.4em;

	padding: 20px 0;
}

div.header-content .container p + p {
	color: #bc9a1d;
}

/* 			MAIN			 */

main {
	background-color: var(--bg);
}

/* 			MAIN NAV			 */
main .catalog-nav {
	height: 100%;
	
}

main .catalog-nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

main .catalog-nav ul li + li {
	margin-top: 15px;
}

main .catalog-nav ul li:last-child {
	margin-bottom: 15px;
}

main .catalog-nav li a {
	color: #e4bb23;

	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;

	padding: 25px 0;

	transition: all 0.2s ease-in-out;
}

main section {
	margin: 10px 0;
	padding: 20px 0;
}

/* 			MAIN CATALOG			 */

main .film-catalog {
	display: grid;
	grid-template-columns: 1fr;
}

main .film-catalog li {
	display: flex;
	flex-direction: column;
	
	margin-bottom: 30px;
	overflow: hidden;

	border-radius: 8px;
}

main .film-catalog li figure {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

main .film-catalog li figure img {
	width: 100%;
	height: auto;
}

main .film-catalog li figure div.film-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;
	padding: auto;
	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	opacity: 0;
	visibility: hidden;

	transition: all 0.2s ease-in-out;
}

main .film-catalog li figure div.film-hover h2 {
	color: #e4bb23;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase; 
	text-align: center;
}

main .film-catalog li figure div.film-hover a {
	color: #fff;
	font-size: 5em;
	transition: all 0.2s ease-in-out;
}

main .film-catalog li figure div.film-hover a:hover {
	color: #e4bb23;
}

main .film-catalog li:hover .film-hover {
	opacity: 1;
	visibility: visible;
}

/* 			MAIN SUMMARY			 */
	
main section div.film-summary {
	padding: 10px;
	width: 100%;
	background: var(--bg-panel);
}

main section .film-summary .summary-title {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
	color: var(--color-title);
}

main section .film-summary ul {
	display: flex;
	margin: 10px 0;
}

main section .film-summary ul li a {
	color: #e4bb23;
	font-size: 1.2em;
}

main section .film-summary ul li a:hover {
	text-decoration: underline;
}

main section .film-summary div {
	display: flex;
	justify-content: space-between;
	font-size: 2em;
	font-weight: bold;
}

main section .film-summary div i {
	color: #ccc;
}

main section .film-summary div i:hover {
	color: #e74c3c;
}

main section .film-summary div span {
	color: var(--color-text);
}

/* 			FOOTER			 */
	
footer {
	padding-bottom: 10px;
}

footer div.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

footer ul.footer-list {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 40px 0 5px;
}

footer ul.footer-list li {
	margin: 0 20px;
}

footer ul.footer-list li:last-child {
	margin-right: 0;
}

footer ul.footer-list li a {
	color: #bababa;
	font-size: 2.5em;
}

footer ul.footer-list li:nth-child(1):hover a {
	color: #55acee;
}
footer ul.footer-list li:nth-child(2):hover a {
	color: #3b5998;
}
footer ul.footer-list li:nth-child(3):hover a {
	color: #e95950;
}

@media (min-width: 768px) {

	/* 			HEADER NAV			 */
	
	div.nav-container {
		flex-direction: row;
		align-items: center;
		height: 100%;
	}
	
	div.nav-container ul.header-links {
		flex-direction: row;
	}
	
	div.nav-container ul.header-links li {
		margin: 0 25px;
	}

	/* 			HEADER CONTENT			 */

	div.header-content .container {
		text-align: start;
	}

	div.header-content h1.title {
		font-size: 6.5em;
	}

	div.header-content .container .header-genre {
		display: flex;
		justify-content: flex-start;

		margin: 15px 0 30px;
		font-size: 1.3em;
	}
	
	/* 			MAIN NAV			 */
	
	main .catalog-nav ul {
		flex-direction: row;

		margin: 0 auto;
		padding: 20px;
		height: 67px;
	}
	
	main .catalog-nav ul li {
		margin: 0 20px !important;
	}
	
	main .catalog-nav li a {
		font-size: 1.3em;
	}
	
	main .catalog-nav li a:hover {
		box-shadow: inset 0 -1px 0 #e4bb23;
	}

	/* 			MAIN CATALOG			 */
	
	main .film-catalog {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
	}
	
	/* 			FOOTER			 */
	
	footer {
		padding: 20px 0;
	}
	
	footer div.container {
		flex-direction: row;
	}
	
	footer ul.footer-list {
		justify-content: center;
		margin: 0;
		width: auto;
	}
	
	footer ul.footer-list li {
		margin: 0 20px;
	}
	
	footer ul.footer-list li:last-child {
		margin-right: 0;
	}
	
	footer ul.footer-list li a {
		color: #bababa;
		font-size: 2.5em;
	}
}